// Media Queries
@media screen and (min-width: 1px) and (max-width: 575px) {  
    .footer--width {
        width: 40%;
        position: relative;
        left: 8rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {  
    .footer--width {
        width: 40%;
        position: relative;
        left: 10rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {  
    .footer--width {
        width: 70%;
        position: relative;
        left: 4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {  
    .footer--width {
        width: 100%;
        margin: 0 auto !important;
    }
}

@media screen and (min-width: 1200px) {
    .footer--width {
        width: 100%;
        margin: 0 auto !important;
    }
}

.footer__credits {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        padding: 0 1rem;
        text-align: center;
        border-radius: 20%;
    }

    &--text {
        background-color: $second-background-color;
        color: $main-color;
        border-radius: 20%;
    }
}

.footer__mentions {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        padding: 0 1rem;
        text-align: center;
        border-radius: 20%;
    }

    &--link {
        background-color: $second-background-color;
        color: $link-color;
        border-radius: 20%;
        
        &:hover {
            color: $link-hover-shadow-color;
            text-decoration: none;
            font-weight: bold;
        }
    }
}