// Media Queries
@media (min-width: 960px) {
    .footer__mentions--padding {
        margin-right: 1rem;
    }
}

.footer__credits {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        padding: 0 1rem;
        text-align: center;
    }

    &--text {
        background-color: $second-background-color;
        color: $main-color;
    }
}

.footer__mentions {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        padding: 0 1rem;
        text-align: center;
    }

    &--link {
        background-color: $second-background-color;
        color: $link-color;
        
        &:hover {
            color: $link-hover-shadow-color;
            text-decoration: none;
            font-weight: bold;
        }
    }
}