// Pour toutes les pages
body {
    background-color: $main-background-color;
}

.row {
    margin-left: 0 !important;
    padding-right: 0 !important;
}

.main-content {
    padding: 1rem 0 1rem 0;
    
    &__home {
        margin: 1rem 0 1rem 0;
        
        &--padding {
            height: 100% !important;
        }
    }
    
    &__contact {
        margin: 1rem 0 1rem 0;
    }
    
    &__actu {
        margin: 1rem 0 1rem 0;
    }
    
    &__films {
        margin: 1rem 0 1rem 0;
    }

    &__form {
        margin: 1rem 0 1rem 0;
        
        &--padding {
            height: 100% !important;
        }
    }

    &__list {
        margin: 1rem 0 1rem 0;
        
        &--padding {
            height: 100% !important;
        }
    }
}