// Media Queries
@media (min-width: 960px) {
    .nav-item {
        padding-left: 1rem;
        padding-right: 4rem;
    }
}

// Standard rules
.navbar {
    background-color: $second-background-color;
    width: 70%;
    margin: 0 auto;

    &-nav {
        position: relative;
        left: 5rem;
    }
}

.nav-links {
    &__row {
        background-color: $second-background-color;
        color: $main-color;
    }

    &__list {
        background-color: $second-background-color;
        color: $main-color;
    }

    &__social {
        background-color: $second-background-color;
        color: $main-color;
    }

    &__social--2 {
        background-color: $second-background-color;
        color: $main-color;
    }
}

.nav-link {
    background-color: $second-background-color;
    font-size: $medium-font;
    color: $main-color;
    
    &:hover {
        color: $link-hover-shadow-color;
    }
    
    &:active {
        font-weight: bold;
    }
}

.nav-item {
    background-color: $second-background-color;
}

.collapse {
    background-color: $second-background-color;
}

i {
    background-color: $second-background-color;
    color: $link-color;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    &:hover {
        color: $link-hover-shadow-color;
    }
    
    &:active {
        font-size: 3rem;
    }
}