// Media Queries
@media (min-width: 960px) {
    .nav-item {
        padding-left: 0rem;
        padding-right: 2rem;
    }
    
    .nav-links__list--radius {
    margin-right: 2rem;
    margin-left: 2rem;
    }
}

// Standard rules
.navbar {
    background-color: $main-background-color;

    &-nav {
        position: relative;
        left: 5rem;
    }
}

.nav-links__list--radius {
    border-radius: 10%;
    background-color: $second-background-color;
}

.nav-links {
    &__row {
        background-color: $main-background-color;
    }
    
    &__empty {
        background-color: $main-background-color;
    }

    &__list {
        background-color: $main-background-color;
    }

    &__social {
        background-color: $main-background-color;
    }

    &__social--2 {
        background-color: $main-background-color;
    }
}

.nav-link {
    background-color: $second-background-color;
    font-size: $medium-font;
    color: $main-color;
    
    &:hover {
        color: $link-hover-shadow-color;
    }
    
    &:active {
        font-weight: bold;
    }
}

.nav-item {
    background-color: $second-background-color;
}

.navbar-toggler {
    background-color: $main-background-color;
    color: $second-color;
}

.navbar-toggler-icon {
    background-color: $main-background-color;
    color: $second-color;
}

.navbar-toggler-icon--i {
    color: $second-color;
}