@media screen and (min-width: 1px) and (max-width: 598px) {
    .header__title {
        padding: 1rem 0;
        
        &--text {
            font-size: $medium-plus-font !important;
        }
    }
}

@media screen and (min-width: 599px) and (max-width: 767px) {
    .header__title {
        padding: 1rem 0;
        
        &--text {
            font-size: $big-less-font !important;
        }
    }
}


@media screen and (min-width: 1px) and (max-width: 991px) {    
    
    .main-content {
        padding: 0 !important;
    }
}







