                    /* 1 -- 446 */

@media screen and (min-width: 1px) and (max-width: 446px) {
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 2rem 1rem 2rem;

        label {
            padding-left: 0.5rem;
        }
    }
}                    

                    /* 1 -- 499 */

@media screen and (min-width: 1px) and (max-width: 499px) {  
    // Footer
    .footer--width {
        width: 40%;
        position: relative;
        left: 6rem;
    }
}

                    /* 1 -- 575 */

@media screen and (min-width: 1px) and (max-width: 575px) {
    // liste derniers articles
    .main-content__list--padding {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
    
    // formulaire films
    .main-content__form--padding {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .main-content__form--padding label {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    
    .main-content__form--padding form {
        padding-bottom: 1rem;
        width: 90%;
        margin: 0 auto;

        input[type="submit"] {
            margin-top: 1rem;
            width: 30%;
        }
    }

    .main-content__form--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__form--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    
    .main-content__form--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }

}

                    /* 447 -- 575 */

@media screen and (min-width: 447px) and (max-width: 575px) {
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 4rem 1rem 4rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

                    /* 500 -- 575 */

@media screen and (min-width: 500px) and (max-width: 575px) {  
    // Footer
    .footer--width {
        width: 40%;
        position: relative;
        left: 8rem;
    }
}
                    /* 1 -- 598 */

@media screen and (min-width: 1px) and (max-width: 598px) {
    // Header
    .header__title {
        padding: 1rem 0;
        
        &--text {
            font-size: $medium-plus-font !important;
        }
    }
}

                    /* 576 -- 767 */

@media screen and (min-width: 576px) and (max-width: 767px) {  
    .footer--width {
        width: 40%;
        position: relative;
        left: 10rem;
    }
    
    // liste dernier articles
    .main-content__list--padding {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
    
    // formulaire films
    .main-content__form--padding {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .main-content__form--padding label {
        margin-top: 1.5rem;
        padding-left: 4rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    
    .main-content__form--padding form {
        padding-bottom: 1rem;
        width: 70%;
        margin: 0 auto;

        input[type="submit"] {
            margin-top: 1rem;
            width: 20%;
        }
    }

    .main-content__form--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__form--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    
    .main-content__form--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
    
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 4rem 1rem 4rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

                    /* 599 -- 767 */

@media screen and (min-width: 599px) and (max-width: 767px) {
    // Header
    .header__title {
        padding: 1rem 0;
        
        &--text {
            font-size: $big-less-font !important;
        }
    }
}

                    /* 768 -- 991 */   

@media screen and (min-width: 768px) and (max-width: 991px) {  
    .footer--width {
        width: 70%;
        position: relative;
        left: 4rem;
    }
    
    // liste derniers articles
    .main-content__list--padding {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
    
    // formulaire films
    .main-content__form--padding {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .main-content__form--padding label {
        margin-top: 1.5rem;
        padding-left: 4rem;
        width: 90%;
        font-size: $standard-font;
    }
    
    .main-content__form--padding form {
        padding-bottom: 1rem;
        width: 70%;
        margin: 0 auto;

        input[type="submit"] {
            margin-top: 1rem;
            width: 20%;
        }
    }

    .main-content__form--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__form--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }

    .main-content__form--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
    
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 8rem 1rem 8rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

                    /* 1 -- 991 */

@media screen and (min-width: 1px) and (max-width: 991px) {    
    
    // Global
    .main-content {
        padding: 0 !important;
    }
    
    // Collapsed menu
    .nav-links__button {
        margin-left: 0.5rem;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }
    // Navigation
    .nav-item {
       background-color: $main-background-color !important; 
    }

    .nav-link {
    background-color: $main-background-color !important;
    color: $second-color !important;
    }
    
    .nav-link--collapsed {
        background-color: $main-background-color !important;
        color: $second-color !important;
        padding-left: 3rem !important;
        
        &:hover {
        color: $link-hover-shadow-color !important;
    }

        &:active {
        font-weight: bold;
        }
    }
    
    .nav-links__social--i {
    font-size: $medium-less-font !important;
    padding-left: 1rem;
    padding-right: 1rem;
    }
}
                    /* 992 -- 1199 */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    // Navigation
    .nav-item {
        padding-left: 0rem;
        padding-right: 1rem;
    }

    .nav-link {
        background-color: $second-background-color;
        color: $main-color;
        font-size: $medium-less-font !important;
    }

    .nav-links__list--radius {
        margin-right: 2rem;
        margin-left: 2rem;
        border-radius: 5% !important;
    }
    
    // Footer
    .footer--width {
        width: 100%;
        margin: 0 auto !important;
    }
    .footer__credits--padding {
        margin-left: -1rem;
    }
    
    // liste derniers articles
    .main-content__list--padding {
        margin-right: 1rem;
        margin-left: 0rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
    
    // formulaire films
    .main-content__form--padding {
        margin-right: 0rem;
        margin-left: 1rem;
    }

    .main-content__form--padding label {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-font;
    }
    
    .main-content__form--padding form {
        padding-bottom: 1rem;

        input[type="submit"] {
            margin-top: 1rem;
            width: 30%;
        }
    }

    .main-content__form--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__form--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }

    .main-content__form--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
}
                    /* 1200 */

@media screen and (min-width: 1200px) {
    // Navigation
    .nav-link {
        font-size: $medium-font;
    }

    .nav-item {
        padding-left: 0rem;
        padding-right: 1.5rem;
    }

    .nav-links__list--radius {
        margin-right: 2rem;
        margin-left: 2rem;
        border-radius: 10%;
    }
    
    // Footer
    .footer--width {
        width: 100%;
        margin: 0 auto !important;
    }
    
    .footer__credits--padding {
        margin-left: -1rem;
    }
    
    // liste derniers articles
    .main-content__list--padding {
        margin-right: 2rem;
        margin-left: 1rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
    
    // formulaire films
    .main-content__form--padding {
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .main-content__form--padding label {
        margin-top: 1rem;
        padding-left: 3rem;
        width: 90%;
    }
    .main-content__form--padding form {
        padding-bottom: 1rem;

        input[type="submit"] {
            margin-top: 1rem;
            width: 30%;
        }
    }

    .main-content__form--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    .main-content__form--text {
        padding-left: 3rem;
        width: 90%;
    }

    .main-content__form--legend {
        font-size: $medium-less-font;
    }
}

                    /* 992 - 1251 */

@media screen and (min-width: 992px) and (max-width: 1251px) {
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 1rem 1rem 1rem;

        label {
            font-size: $standard-less-font;
            padding-left: 1rem;
        }
    }
}

                    /* 1252 - 1379 */

@media screen and (min-width: 1252px) and (max-width: 1379px) {
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 2rem 1rem 2rem;

    }
}

                    /* 1380 */

@media screen and (min-width: 1380px) {
    // formulaire films checkbox
    .main-content__form--checkbox {
        padding: 0 3rem 1rem 3rem;

    }
}