                    /* 1 -- 499 */

@media screen and (min-width: 1px) and (max-width: 499px) {  
    // Footer
    .footer--width {
        width: 40%;
        position: relative;
        left: 6rem;
    }
}
                    /* 500 -- 575 */

@media screen and (min-width: 500px) and (max-width: 575px) {  
    // Footer
    .footer--width {
        width: 40%;
        position: relative;
        left: 8rem;
    }
}
                    /* 1 -- 598 */

@media screen and (min-width: 1px) and (max-width: 598px) {
    // Header
    .header__title {
        padding: 1rem 0;
        
        &--text {
            font-size: $medium-plus-font !important;
        }
    }
}

                    /* 576 -- 767 */

@media screen and (min-width: 576px) and (max-width: 767px) {  
    .footer--width {
        width: 40%;
        position: relative;
        left: 10rem;
    }
}

                    /* 599 -- 767 */

@media screen and (min-width: 599px) and (max-width: 767px) {
    // Header
    .header__title {
        padding: 1rem 0;
        
        &--text {
            font-size: $big-less-font !important;
        }
    }
}

                    /* 768 -- 991 */   

@media screen and (min-width: 768px) and (max-width: 991px) {  
    .footer--width {
        width: 70%;
        position: relative;
        left: 4rem;
    }
}

                    /* 1 -- 991 */

@media screen and (min-width: 1px) and (max-width: 991px) {    
    
    // Global
    .main-content {
        padding: 0 !important;
    }
    
    // Collapsed menu
    .nav-links__button {
        margin-left: 0.5rem;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }
    // Navigation
    .nav-item {
       background-color: $main-background-color !important; 
    }

    .nav-link {
    background-color: $main-background-color !important;
    color: $second-color !important;
    }
    
    .nav-link--collapsed {
        background-color: $main-background-color !important;
        color: $second-color !important;
        padding-left: 3rem !important;
        
        &:hover {
        color: $link-hover-shadow-color !important;
    }

        &:active {
        font-weight: bold;
        }
    }
    
    .nav-links__social--i {
    font-size: $medium-less-font !important;
    padding-left: 1rem;
    padding-right: 1rem;
    }
}
                    /* 992 -- 1199 */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    // Navigation
    .nav-item {
        padding-left: 0rem;
        padding-right: 1rem;
    }

    .nav-link {
        background-color: $second-background-color;
        color: $main-color;
        font-size: $medium-less-font !important;
    }

    .nav-links__list--radius {
        margin-right: 2rem;
        margin-left: 2rem;
        border-radius: 5% !important;
    }
    
    // Footer
    .footer--width {
        width: 100%;
        margin: 0 auto !important;
    }
    .footer__credits--padding {
        margin-left: -1rem;
    }
}
                    /* 1200 */

@media screen and (min-width: 1200px) {
    // Navigation
    .nav-link {
        font-size: $medium-font;
    }

    .nav-item {
        padding-left: 0rem;
        padding-right: 1.5rem;
    }

    .nav-links__list--radius {
        margin-right: 2rem;
        margin-left: 2rem;
        border-radius: 10%;
    }
    
    // Footer
    .footer--width {
        width: 100%;
        margin: 0 auto !important;
    }
    
    .footer__credits--padding {
        margin-left: -1rem;
    }
}