// Media Queries
@media screen and (min-width: 1px) and (max-width: 575px) {
    
    .main-content__films--padding {
        padding: 2rem 3rem 0.5rem 3rem;
        margin: 0 2rem 0 2rem;
    }
    
    .main-content__films--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-content__films--padding {
        padding: 2rem 4rem 0.5rem 4rem;
        margin: 0 2rem 0 2rem;
    }
    
    .main-content__films--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    
    .main-content__films--padding {
        padding: 2rem 4rem 0.5rem 4rem;
        margin: 0 2rem 0 2rem;
    }
    
    .main-content__films--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-content__films--padding {
        padding: 2rem 4rem 0.5rem 4rem;
        margin: 0 3rem 0 3rem;
    }
    
    .main-content__films--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .main-content__films--padding {
        padding: 2rem 4rem 0.5rem 4rem;
    }
    
    .main-content__films--text {
        font-size: $standard-less-font;
    }
}

@media screen and (min-width: 1200px) {
    
    .main-content__films--padding {
        padding: 2rem 6rem 0.5rem 6rem;
    }
}

.main-content__films {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        border-radius: 2%;
    }
    
    &--text {
    background-color: $second-background-color;
    color: $main-color;
    padding-top: 1rem;
    }
    
    &--image {
        border-radius: 5%;
    }
}

//CAROUSEL//

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233F69AA' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233F69AA' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


