// Media Queries
@media screen and (min-width: 1px) and (max-width: 575px) {
    
    .main-content__actu--padding {
        padding: 0 3rem 0.5rem 3rem;
    }
    
    .main-content__actu--title {
        font-size: $medium-font;
    }
    
    .main-content__actu--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-content__actu--padding {
        padding: 0 4rem 0.5rem 4rem;
    }
    
    .main-content__actu--title {
        font-size: $medium-font;
    }
    
    .main-content__actu--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    
    .main-content__actu--padding {
        padding: 0 4rem 0.5rem 4rem;
    }
    
    .main-content__actu--title {
        font-size: $medium-font;
    }
    
    .main-content__actu--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-content__actu--padding {
        padding: 0 4rem 0.5rem 4rem;
    }
    
    .main-content__actu--title {
        font-size: $medium-font;
    }
    
    .main-content__actu--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .main-content__actu--padding {
        padding: 0 4rem 0.5rem 4rem;
    }
    
    .main-content__actu--title {
        font-size: $medium-font;
    }
    
    .main-content__actu--text {
        font-size: $standard-less-font;
    }
}

@media screen and (min-width: 1200px) {
    
    .main-content__actu--padding {
        padding: 0 6rem 0.5rem 6rem;
    }
}

.main-content__actu {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        width: 90%;
        margin: 0 auto;
        border-radius: 2%;
    }
    
    &--title {
        background-color: $second-background-color;
        color: $main-color;
        padding: 1rem 0 1rem 0;
        
        &:not(:first-child) {
            border-top: 1px solid $main-color;
        }
        
    }
    
    &--text {
    background-color: $second-background-color;
    color: $main-color;
    }
    
    &--image {
        border-radius: 5%;
    }
}