.main-content__post {
    background-color: $main-background-color;
    color: $second-color;
}

.main-content__post--padding {
    background-color: $second-background-color;
    color: $main-color;
    padding: 0 1rem;
}

.main-content--text {
    background-color: $second-background-color;
    color: $main-color;
}

.content__title {
    background-color: $second-background-color;
    color: $main-color;
}