// Media Queries
@media screen and (min-width: 1px) and (max-width: 575px) {

    .main-content__contact--padding {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .main-content__contact--padding label {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    .main-content__contact--padding form {
        padding-bottom: 1rem;
        width: 90%;
        margin: 0 auto;

        input[type="submit"] {
            margin-top: 1rem;
            width: 30%;
        }
    }

    .main-content__contact--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__contact--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    .main-content__contact--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .main-content__contact--padding {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .main-content__contact--padding label {
        margin-top: 1.5rem;
        padding-left: 4rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    .main-content__contact--padding form {
        padding-bottom: 1rem;
        width: 70%;
        margin: 0 auto;

        input[type="submit"] {
            margin-top: 1rem;
            width: 20%;
        }
    }

    .main-content__contact--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__contact--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }
    .main-content__contact--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .main-content__contact--padding {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .main-content__contact--padding label {
        margin-top: 1.5rem;
        padding-left: 4rem;
        width: 90%;
        font-size: $standard-font;
    }
    .main-content__contact--padding form {
        padding-bottom: 1rem;
        width: 70%;
        margin: 0 auto;

        input[type="submit"] {
            margin-top: 1rem;
            width: 20%;
        }
    }

    .main-content__contact--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__contact--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }

    .main-content__contact--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .main-content__contact--padding {
        margin-right: 0rem;
        margin-left: 1rem;
    }

    .main-content__contact--padding label {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-font;
    }
    .main-content__contact--padding form {
        padding-bottom: 1rem;

        input[type="submit"] {
            margin-top: 1rem;
            width: 30%;
        }
    }

    .main-content__contact--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-less-font;
    }

    .main-content__contact--text {
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
    }

    .main-content__contact--legend {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: $standard-font;
    }
}

@media screen and (min-width: 1200px) {

    .main-content__contact--padding {
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .main-content__contact--padding label {
        margin-top: 1rem;
        padding-left: 3rem;
        width: 90%;
    }
    .main-content__contact--padding form {
        padding-bottom: 1rem;

        input[type="submit"] {
            margin-top: 1rem;
            width: 20%;
        }
    }

    .main-content__contact--input {
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    .main-content__contact--text {
        padding-left: 3rem;
        width: 90%;
    }

    .main-content__contact--legend {
        font-size: $medium-less-font;
    }
}

// Media Queries Checkbox
@media screen and (min-width: 1px) and (max-width: 446px) {

    .main-content__contact--checkbox {
        padding: 0 2rem 1rem 2rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

@media screen and (min-width: 447px) and (max-width: 575px) {

    .main-content__contact--checkbox {
        padding: 0 4rem 1rem 4rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .main-content__contact--checkbox {
        padding: 0 4rem 1rem 4rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .main-content__contact--checkbox {
        padding: 0 8rem 1rem 8rem;

        label {
            padding-left: 0.5rem;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1251px) {

    .main-content__contact--checkbox {
        padding: 0 1rem 1rem 1rem;

        label {
            font-size: $standard-less-font;
            padding-left: 1rem;
        }
    }
}

@media screen and (min-width: 1252px) and (max-width: 1379px) {

    .main-content__contact--checkbox {
        padding: 0 2rem 1rem 2rem;

    }
}


@media screen and (min-width: 1380px) {

    .main-content__contact--checkbox {
        padding: 0 3rem 1rem 3rem;

    }
}

.main-content__contact {
    background-color: $main-background-color;
    color: $second-color;

    &--text {
        background-color: $second-background-color;
        padding-bottom: 0.5rem;
        border-radius: 20%;

        p {
            background-color: $second-background-color;
            color: $main-color;
        }
    }

    &--checkbox {
        border: none;
        background-color: $second-background-color;
        color: $main-color; //padding: 0 3rem 1rem 3rem;
        vertical-align: middle;
        display: inline-block;

        label {
            margin: 0 0 -0.2rem 0;
        }
    }

    &--legend {
        background-color: $second-background-color;
        color: $main-color;
    }
    
    &--textarea {
        resize: none;
    }

    &--link {
        color: $link-color;

        &:hover {
            color: $link-hover-shadow-color;
            text-decoration: none;
            font-weight: bold;
        }
    }

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        border-radius: 2%;

        label {
            background-color: $second-background-color;
            color: $main-color;
        }

        input:focus {
            outline: 1px solid $main-color;
        }

        select:focus {
            outline: 1px solid $main-color;
        }

        form {
            background-color: $second-background-color;
            color: $second-color;
            border-radius: 2%;

            input[type="submit"] {
                background-color: $main-background-color;
                color: $second-color;
                border-radius: 20%;

                &:active {
                    border: none;
                    outline: none;
                    box-shadow: 1px 3px 1px $main-color;
                }
                
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: 1px 3px 1px $main-color;
                }
            }
        }
    }

    &--input {
        background-color: $second-background-color;
        color: $main-color;
        display: block;
        width: 80%;
        border: 1px solid $main-color;
        border-radius: 2%;
        outline: none;

        > option {
            background-color: $second-background-color;
            color: $main-color;
            text-align: center;
            padding-top: 0.1rem;
        }
    }
}