// Media Queries
@media screen and (min-width: 1px) and (max-width: 575px) {
    
    .main-content__home--padding {
        padding: 2rem 3rem 0.5rem 3rem;
    }
    
    .main-content__home--title {
        font-size: $medium-font;
    }
    
    .main-content__home--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-content__home--padding {
        padding: 2rem 4rem 0.5rem 4rem;
    }
    
    .main-content__home--title {
        font-size: $medium-font;
    }
    
    .main-content__home--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    
    .main-content__home--padding {
        padding: 2rem 4rem 0.5rem 4rem;
    }
    
    .main-content__home--title {
        font-size: $medium-font;
    }
    
    .main-content__home--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .main-content__home--padding {
        padding: 2rem 4rem 0.5rem 4rem;
    }
    
    .main-content__home--title {
        font-size: $medium-font;
    }
    
    .main-content__home--text {
        font-size: $standard-less-font;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .main-content__home--padding {
        padding: 2rem 4rem 0.5rem 4rem;
    }
    
    .main-content__home--title {
        font-size: $medium-font;
    }
    
    .main-content__home--text {
        font-size: $standard-less-font;
    }
}

@media screen and (min-width: 1200px) {
    
    .main-content__home--padding {
        padding: 2rem 6rem 0.5rem 6rem;
    }
}

.main-content__home {
    background-color: $main-background-color;
    color: $second-color;

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        width: 90%;
        margin: 0 auto;
        border-radius: 2%;
    }
    
    &--title {
        background-color: $second-background-color;
        color: $main-color;
    }
    
    &--text {
    background-color: $second-background-color;
    color: $main-color;
    padding-top: 1rem;
    }
    
    &--image {
        border-radius: 5%;
    }
}