// Media Queries
@media screen and (min-width: 1px) and (max-width: 575px) {

    .main-content__list--padding {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .main-content__list--padding {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .main-content__list--padding {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .main-content__list--padding {
        margin-right: 1rem;
        margin-left: 0rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
        font-size: $medium-less-font;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        font-size: $standard-less-font;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    
    .main-content__list--padding {
        margin-right: 2rem;
        margin-left: 1rem;
    }
    
    .main-content__list--article {
        width: 90%;
        margin:  0 auto;
    }
    
    .main-content__list--title {
        padding: 1rem 0 0 2rem;
        width: 90%;
    }
    
    .main-content__list--text {
        margin-top: 1.5rem;
        padding-left: 3rem;
        width: 90%;
        
        &:last-child {
            padding-bottom: 1rem;
        }
    }
}


.main-content__list {
    background-color: $main-background-color;
    color: $second-color;
}

.main-content__list--padding  {
    background-color: $second-background-color;
    color: $main-color;
    border-radius: 2%;
}

.main-content__list {
    background-color: $main-background-color;
    color: $second-color;
    
    &--article {
        background-color: $second-background-color;
        color: $main-color;
        border-bottom: 1px solid $main-color;
        
        &:last-child {
            border-bottom: none;
        }
    }
    
    &--title {
        background-color: $second-background-color;
        color: $main-color;
    }
    
    &--text {
        background-color: $second-background-color;
        color: $main-color;
    }
}