.main-content__form {
    background-color: $main-background-color;
    color: $second-color;

    &--link {
        color: $link-color;

        &:hover {
            color: $link-hover-shadow-color;
            text-decoration: none;
            font-weight: bold;
        }
    }

    &--text {
        background-color: $second-background-color;
        padding-bottom: 0.5rem;
        border-radius: 20%;

        p {
            background-color: $second-background-color;
            color: $main-color;
        }
    }

    &--checkbox {
        border: none;
        background-color: $second-background-color;
        color: $main-color; //padding: 0 3rem 1rem 3rem;
        vertical-align: middle;
        display: inline-block;

        label {
            margin: 0 0 -0.2rem 0;
        }
    }

    &--legend {
        background-color: $second-background-color;
        color: $main-color;
    }

    &--padding {
        background-color: $second-background-color;
        color: $main-color;
        border-radius: 2%;

        label {
            background-color: $second-background-color;
            color: $main-color;
        }

        input:focus {
            outline: 1px solid $main-color;
        }

        select:focus {
            outline: 1px solid $main-color;
        }

        form {
            background-color: $second-background-color;
            color: $second-color;
            border-radius: 2%;

            input[type="submit"] {
                background-color: $main-background-color;
                color: $second-color;
                border-radius: 20%;

                &:active {
                    border: none;
                    outline: none;
                    box-shadow: 1px 3px 1px $main-color;
                }
                
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: 1px 3px 1px $main-color;
                }
            }
        }
    }

    &--input {
        background-color: $second-background-color;
        color: $main-color;
        display: block;
        width: 80%;
        border: 1px solid $main-color;
        border-radius: 2%;
        outline: none;

        > option {
            background-color: $second-background-color;
            color: $main-color;
            text-align: center;
            padding-top: 0.1rem;
        }
    }
}