.main-content__list {
    background-color: $main-background-color;
    color: $second-color;
}

.main-content__list--padding  {
    background-color: $second-background-color;
    color: $main-color;
    margin-left: -1rem;
}