.main-content__contact {
    background-color: $second-background-color;
    color: $main-color;

    &--textarea {
        resize: none;

        &:focus {
            box-shadow: 1px 1px 1px $main-color;
        }
    }

    label {
        background-color: $second-background-color;
        color: $main-color;
        display: block;
    }

    input:focus {
        box-shadow: 1px 1px 1px $main-color;
    }

    form {
        background-color: $second-background-color;
        color: $second-color;
        border-radius: 2%;
        display: block;
        text-align: center;

        input[type="submit"] {
            background-color: $main-background-color;
            color: $second-color;
            border-radius: 20%;
            width: 30%;

            &:active {
                border: none;
                outline: none;
                box-shadow: 1px 3px 1px $main-color;
            }

            &:focus {
                border: none;
                outline: none;
                box-shadow: 1px 3px 1px $main-color;
            }
        }
    }

    &--input {
        background-color: $second-background-color;
        color: $main-color;
        width: 80%;
        border: 1px solid $main-color;
        border-radius: 2%;
        outline: none;
    }
}