.header__title {
    color: $second-color;
    padding: 1rem 0;
    
    &--text {
    color: $second-color;
    text-align: center;
    padding-right: 0.3rem;
    font-size: $big-font;
    }
}

.header__title--i {
    padding-right: 1rem;
}