.navbar {
    background-color: $main-background-color;

    &-nav {
        position: relative; //left: 5rem;
        margin: 0 auto;
    }
}

.nav-links__list--radius {
    background-color: $second-background-color;
}

.nav-links {
    &__row {
        background-color: $main-background-color;
    }

    &__empty {
        background-color: $main-background-color;
    }

    &__list {
        background-color: $main-background-color;
        padding-right: 2rem;
    }

    &__social {
        background-color: $main-background-color;
        text-align: center;
    }
}

.nav-link {
    background-color: $second-background-color;
    color: $main-color;

    &:hover {
        color: $link-hover-shadow-color;
    }

    &:active {
        font-weight: bold;
    }
}

.nav-item {
    background-color: $second-background-color;
}

.navbar-toggler {
    background-color: $main-background-color;
    color: $second-color;
}

.navbar-toggler-icon {
    background-color: $main-background-color;
    color: $second-color;
}

.navbar-toggler-icon--i {
    color: $second-color;
}

// Social Icons
.nav-links__social--i {
    background-color: $main-background-color;
    color: $link-color;
    font-size: $medium-font;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        color: $link-hover-shadow-color;
    }

    &:active {
        font-size: $big-font;
    }
}