.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233F69AA' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233F69AA' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.main-content__form {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.main-content__form--link {
  color: #3F69AA;
}
.main-content__form--link:hover {
  color: #0074D9;
  text-decoration: none;
  font-weight: bold;
}
.main-content__form--text {
  background-color: #f2f2f2;
  padding-bottom: 0.5rem;
  border-radius: 20%;
}
.main-content__form--text p {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.main-content__form--checkbox {
  border: none;
  background-color: #f2f2f2;
  color: #1a1a1a;
  vertical-align: middle;
  display: inline-block;
}
.main-content__form--checkbox label {
  margin: 0 0 -0.2rem 0;
}
.main-content__form--checkbox p {
  margin: 1rem 0 0 0 !important;
}
.main-content__form--legend {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.main-content__form--padding {
  background-color: #f2f2f2;
  color: #1a1a1a;
  border-radius: 2%;
}
.main-content__form--padding label {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.main-content__form--padding input:focus {
  outline: 1px solid #1a1a1a;
}
.main-content__form--padding select:focus {
  outline: 1px solid #1a1a1a;
}
.main-content__form--padding form {
  background-color: #f2f2f2;
  color: #f2f2f2;
  border-radius: 2%;
}
.main-content__form--padding form input[type=submit] {
  background-color: #1a1a1a;
  color: #f2f2f2;
  border-radius: 20%;
}
.main-content__form--padding form input[type=submit]:active {
  border: none;
  outline: none;
  box-shadow: 1px 3px 1px #1a1a1a;
}
.main-content__form--padding form input[type=submit]:focus {
  border: none;
  outline: none;
  box-shadow: 1px 3px 1px #1a1a1a;
}
.main-content__form--input {
  background-color: #f2f2f2;
  color: #1a1a1a;
  display: block;
  width: 80%;
  border: 1px solid #1a1a1a;
  border-radius: 2%;
  outline: none;
}
.main-content__form--radio {
  width: 90%;
  padding-left: 3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.radio {
  margin: 0 !important;
  padding: 0 !important;
}

.radio__label {
  padding-left: 0 !important;
}

.main-content__list {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.main-content__list--padding {
  background-color: #f2f2f2;
  color: #1a1a1a;
  border-radius: 2%;
}

.main-content__list {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.main-content__list--article {
  background-color: #f2f2f2;
  color: #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
.main-content__list--article:last-child {
  border-bottom: none;
}
.main-content__list--title {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.main-content__list--text {
  background-color: #f2f2f2;
  color: #1a1a1a;
}

.main-content__contact {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.main-content__contact--textarea {
  resize: none;
}
.main-content__contact--textarea:focus {
  box-shadow: 1px 1px 1px #1a1a1a;
}
.main-content__contact label {
  background-color: #f2f2f2;
  color: #1a1a1a;
  display: block;
}
.main-content__contact input:focus {
  box-shadow: 1px 1px 1px #1a1a1a;
}
.main-content__contact form {
  background-color: #f2f2f2;
  color: #f2f2f2;
  border-radius: 2%;
  display: block;
  text-align: center;
}
.main-content__contact form input[type=submit] {
  background-color: #1a1a1a;
  color: #f2f2f2;
  border-radius: 20%;
  width: 30%;
}
.main-content__contact form input[type=submit]:active {
  border: none;
  outline: none;
  box-shadow: 1px 3px 1px #1a1a1a;
}
.main-content__contact form input[type=submit]:focus {
  border: none;
  outline: none;
  box-shadow: 1px 3px 1px #1a1a1a;
}
.main-content__contact--input {
  background-color: #f2f2f2;
  color: #1a1a1a;
  width: 80%;
  border: 1px solid #1a1a1a;
  border-radius: 2%;
  outline: none;
}

.header__title {
  color: #f2f2f2;
  padding: 1rem 0;
}
.header__title--text {
  color: #f2f2f2;
  text-align: center;
  padding-right: 0.3rem;
  font-size: 3rem;
}

.header__title--i {
  padding-right: 1rem;
}

.footer__credits {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.footer__credits--padding {
  background-color: #f2f2f2;
  color: #1a1a1a;
  padding: 0 1rem;
  text-align: center;
  border-radius: 20%;
}
.footer__credits--text {
  background-color: #f2f2f2;
  color: #1a1a1a;
  border-radius: 20%;
}

.footer__mentions {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.footer__mentions--padding {
  background-color: #f2f2f2;
  color: #1a1a1a;
  padding: 0 1rem;
  text-align: center;
  border-radius: 20%;
}
.footer__mentions--link {
  background-color: #f2f2f2;
  color: #3F69AA;
  border-radius: 20%;
}
.footer__mentions--link:hover {
  color: #0074D9;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  background-color: #1a1a1a;
}
.navbar-nav {
  position: relative;
  margin: 0 auto;
}

.nav-links__list--radius {
  background-color: #f2f2f2;
}

.nav-links__row {
  background-color: #1a1a1a;
}
.nav-links__empty {
  background-color: #1a1a1a;
}
.nav-links__list {
  background-color: #1a1a1a;
  padding-right: 2rem;
}
.nav-links__social {
  background-color: #1a1a1a;
  text-align: center;
}

.nav-link {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.nav-link:hover {
  color: #0074D9;
}
.nav-link:active {
  font-weight: bold;
}

.nav-item {
  background-color: #f2f2f2;
}

.navbar-toggler {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.navbar-toggler-icon {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.navbar-toggler-icon--i {
  color: #f2f2f2;
}

.nav-links__social--i {
  background-color: #1a1a1a;
  color: #3F69AA;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-links__social--i:hover {
  color: #0074D9;
}
.nav-links__social--i:active {
  font-size: 3rem;
}

body {
  background-color: #1a1a1a;
}

.row {
  margin-left: 0 !important;
  padding-right: 0 !important;
}

.main-content {
  padding: 1rem 0 1rem 0;
}
.main-content__home {
  margin: 1rem 0 1rem 0;
}
.main-content__contact {
  margin: 1rem 0 1rem 0;
}
.main-content__actu {
  margin: 1rem 0 1rem 0;
}
.main-content__films {
  margin: 1rem 0 1rem 0;
}
.main-content__form {
  margin: 1rem 0 1rem 0;
}
.main-content__list {
  margin: 1rem 0 1rem 0;
}

/* 1 -- 446 */
@media screen and (min-width: 1px) and (max-width: 446px) {
  .main-content__form--checkbox {
    padding: 0 2rem 1rem 2rem;
  }
  .main-content__form--checkbox label {
    padding-left: 0.5rem;
  }
  .main-content__form--checkbox p {
    font-size: 1rem;
  }
}
/* 1 -- 499 */
@media screen and (min-width: 1px) and (max-width: 499px) {
  .footer--width {
    width: 40%;
    position: relative;
    left: 6rem;
  }
}
/* 1 -- 575 */
@media screen and (min-width: 1px) and (max-width: 575px) {
  .main-content__home--padding {
    padding: 2rem 3rem 0.5rem 3rem;
  }

  .main-content__home--title {
    font-size: 1.5rem;
  }

  .main-content__home--text {
    font-size: 0.9rem;
  }

  .main-content__list--padding {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .main-content__list--article {
    width: 90%;
    margin: 0 auto;
  }

  .main-content__list--title {
    padding: 1rem 0 0 2rem;
    width: 90%;
    font-size: 1.2rem;
  }

  .main-content__list--text {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }
  .main-content__list--text:last-child {
    padding-bottom: 1rem;
  }

  .main-content__form--padding {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .main-content__form--padding label {
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__form--padding form {
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
  }
  .main-content__form--padding form input[type=submit] {
    margin-top: 1rem;
    width: 30%;
  }

  .main-content__form--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__form--text {
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__form--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .main-content__contact--padding label {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__contact--padding form {
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
  }
  .main-content__contact--padding form input[type=submit] {
    margin-top: 1rem;
    width: 30%;
  }

  .main-content__contact--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__contact--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
/* 447 -- 575 */
@media screen and (min-width: 447px) and (max-width: 575px) {
  .main-content__form--checkbox {
    padding: 0 4rem 1rem 4rem;
  }
  .main-content__form--checkbox label {
    padding-left: 0.5rem;
  }
  .main-content__form--checkbox p {
    font-size: 1rem;
  }
}
/* 500 -- 575 */
@media screen and (min-width: 500px) and (max-width: 575px) {
  .footer--width {
    width: 40%;
    position: relative;
    left: 8rem;
  }
}
/* 1 -- 598 */
@media screen and (min-width: 1px) and (max-width: 598px) {
  .header__title {
    padding: 1rem 0;
  }
  .header__title--text {
    font-size: 2rem !important;
  }
}
/* 576 -- 767 */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .main-content__home--padding {
    padding: 2rem 4rem 0.5rem 4rem;
  }

  .main-content__home--title {
    font-size: 1.5rem;
  }

  .main-content__home--text {
    font-size: 0.9rem;
  }

  .footer--width {
    width: 40%;
    position: relative;
    left: 10rem;
  }

  .main-content__list--padding {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .main-content__list--article {
    width: 90%;
    margin: 0 auto;
  }

  .main-content__list--title {
    padding: 1rem 0 0 2rem;
    width: 90%;
    font-size: 1.2rem;
  }

  .main-content__list--text {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }
  .main-content__list--text:last-child {
    padding-bottom: 1rem;
  }

  .main-content__form--padding {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .main-content__form--padding label {
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__form--padding form {
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
  }
  .main-content__form--padding form input[type=submit] {
    margin-top: 1rem;
    width: 20%;
  }

  .main-content__form--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__form--text {
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__form--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .main-content__form--checkbox {
    padding: 0 4rem 1rem 4rem;
  }
  .main-content__form--checkbox label {
    padding-left: 0.5rem;
  }
  .main-content__form--checkbox p {
    font-size: 1rem;
  }

  .main-content__contact--padding label {
    margin-top: 1.5rem;
    padding-left: 4rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__contact--padding form {
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
  }
  .main-content__contact--padding form input[type=submit] {
    margin-top: 1rem;
    width: 20%;
  }

  .main-content__contact--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__contact--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
/* 599 -- 767 */
@media screen and (min-width: 599px) and (max-width: 767px) {
  .header__title {
    padding: 1rem 0;
  }
  .header__title--text {
    font-size: 2.5rem !important;
  }
}
/* 768 -- 991 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-content__home--padding {
    padding: 2rem 4rem 0.5rem 4rem;
  }

  .main-content__home--title {
    font-size: 1.5rem;
  }

  .main-content__home--text {
    font-size: 0.9rem;
  }

  .footer--width {
    width: 70%;
    position: relative;
    left: 4rem;
  }

  .main-content__list--padding {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .main-content__list--article {
    width: 90%;
    margin: 0 auto;
  }

  .main-content__list--title {
    padding: 1rem 0 0 2rem;
    width: 90%;
    font-size: 1.2rem;
  }

  .main-content__list--text {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }
  .main-content__list--text:last-child {
    padding-bottom: 1rem;
  }

  .main-content__form--padding {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .main-content__form--padding label {
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    width: 90%;
    font-size: 1rem;
  }

  .main-content__form--padding form {
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
  }
  .main-content__form--padding form input[type=submit] {
    margin-top: 1rem;
    width: 20%;
  }

  .main-content__form--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__form--text {
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__form--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .main-content__form--checkbox {
    padding: 0 8rem 1rem 8rem;
  }
  .main-content__form--checkbox label {
    padding-left: 0.5rem;
  }
  .main-content__form--checkbox p {
    font-size: 1rem;
  }

  .main-content__contact--padding label {
    margin-top: 1.5rem;
    padding-left: 4rem;
    width: 90%;
    font-size: 1rem;
  }

  .main-content__contact--padding form {
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
  }
  .main-content__contact--padding form input[type=submit] {
    margin-top: 1rem;
    width: 20%;
  }

  .main-content__contact--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__contact--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
/* 1 -- 991 */
@media screen and (min-width: 1px) and (max-width: 991px) {
  .main-content {
    padding: 0 !important;
  }

  .nav-links__button {
    margin-left: 0.5rem;
  }

  .navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .nav-item {
    background-color: #1a1a1a !important;
  }

  .nav-link {
    background-color: #1a1a1a !important;
    color: #f2f2f2 !important;
  }

  .nav-link--collapsed {
    background-color: #1a1a1a !important;
    color: #f2f2f2 !important;
    padding-left: 3rem !important;
  }
  .nav-link--collapsed:hover {
    color: #0074D9 !important;
  }
  .nav-link--collapsed:active {
    font-weight: bold;
  }

  .nav-links__social--i {
    font-size: 1.2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* 992 -- 1199 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content__home--padding {
    padding: 2rem 4rem 0.5rem 4rem;
  }

  .main-content__home--title {
    font-size: 1.5rem;
  }

  .main-content__home--text {
    font-size: 0.9rem;
  }

  .nav-item {
    padding-left: 0rem;
    padding-right: 1rem;
  }

  .nav-link {
    background-color: #f2f2f2;
    color: #1a1a1a;
    font-size: 1.2rem !important;
  }

  .nav-links__list--radius {
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 5% !important;
  }

  .footer--width {
    width: 100%;
    margin: 0 auto !important;
  }

  .footer__credits--padding {
    margin-left: -1rem;
  }

  .main-content__list--padding {
    margin-right: 1rem;
    margin-left: 0rem;
  }

  .main-content__list--article {
    width: 90%;
    margin: 0 auto;
  }

  .main-content__list--title {
    padding: 1rem 0 0 2rem;
    width: 90%;
    font-size: 1.2rem;
  }

  .main-content__list--text {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }
  .main-content__list--text:last-child {
    padding-bottom: 1rem;
  }

  .main-content__form--padding {
    margin-right: 0rem;
    margin-left: 1rem;
  }

  .main-content__form--padding label {
    margin-top: 1.5rem;
    padding-left: 0.5rem;
    width: 90%;
    font-size: 1rem;
  }

  .main-content__form--padding form {
    padding-bottom: 1rem;
  }
  .main-content__form--padding form input[type=submit] {
    margin-top: 1rem;
    width: 30%;
  }

  .main-content__form--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__form--text {
    padding-left: 3rem;
    width: 90%;
    font-size: 0.9rem;
  }

  .main-content__form--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .main-content__contact--padding label {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
    font-size: 1rem;
  }

  .main-content__contact--padding form {
    padding-bottom: 1rem;
  }
  .main-content__contact--padding form input[type=submit] {
    margin-top: 1rem;
    width: 30%;
  }

  .main-content__contact--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .main-content__contact--legend {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
/* 1200 */
@media screen and (min-width: 1200px) {
  .main-content__home--padding {
    padding: 2rem 6rem 0.5rem 6rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .nav-item {
    padding-left: 0rem;
    padding-right: 1.5rem;
  }

  .nav-links__list--radius {
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 10%;
  }

  .footer--width {
    width: 100%;
    margin: 0 auto !important;
  }

  .footer__credits--padding {
    margin-left: -1rem;
  }

  .main-content__list--padding {
    margin-right: 2rem;
    margin-left: 1rem;
  }

  .main-content__list--article {
    width: 90%;
    margin: 0 auto;
  }

  .main-content__list--title {
    padding: 1rem 0 0 2rem;
    width: 90%;
  }

  .main-content__list--text {
    margin-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
  }
  .main-content__list--text:last-child {
    padding-bottom: 1rem;
  }

  .main-content__form--padding {
    margin-right: 1rem;
    margin-left: 2rem;
  }

  .main-content__form--padding label {
    margin-top: 1rem;
    padding-left: 0.5rem;
    width: 90%;
  }

  .main-content__form--padding form {
    padding-bottom: 1rem;
  }
  .main-content__form--padding form input[type=submit] {
    margin-top: 1rem;
    width: 30%;
  }

  .main-content__form--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  .main-content__form--text {
    padding-left: 3rem;
    width: 90%;
  }

  .main-content__form--legend {
    font-size: 1.2rem;
  }

  .main-content__contact--padding label {
    margin-top: 1rem;
    padding-left: 4rem;
    width: 90%;
  }

  .main-content__contact--padding form {
    padding-bottom: 1rem;
  }
  .main-content__contact--padding form input[type=submit] {
    margin-top: 1rem;
    width: 20%;
  }

  .main-content__contact--input {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  .main-content__contact--legend {
    font-size: 1.2rem;
  }
}
/* 992 - 1251 */
@media screen and (min-width: 992px) and (max-width: 1251px) {
  .main-content__form--checkbox {
    padding: 0 1rem 1rem 1rem;
  }
  .main-content__form--checkbox label {
    font-size: 0.9rem;
    padding-left: 1rem;
  }
  .main-content__form--checkbox p {
    font-size: 1rem;
  }
}
/* 1252 - 1379 */
@media screen and (min-width: 1252px) and (max-width: 1379px) {
  .main-content__form--checkbox {
    padding: 0 2rem 1rem 2rem;
  }
}
/* 1380 */
@media screen and (min-width: 1380px) {
  .main-content__form--checkbox {
    padding: 0 3rem 1rem 3rem;
  }

  .main-content__contact--padding label {
    padding-left: 5.5rem;
  }
}
.main-content__home {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.main-content__home--padding {
  background-color: #f2f2f2;
  color: #1a1a1a;
  width: 90%;
  margin: 0 auto;
  border-radius: 2%;
}
.main-content__home--title {
  background-color: #f2f2f2;
  color: #1a1a1a;
}
.main-content__home--title:not(:first-child) {
  border-top: 1px solid #1a1a1a;
  padding-top: 1rem;
}
.main-content__home--text {
  background-color: #f2f2f2;
  color: #1a1a1a;
  padding-top: 0.5rem;
}
.main-content__home--image {
  border-radius: 5%;
  padding: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
