// Background-colors
$main-background-color: #1a1a1a;
$second-background-color: #f2f2f2;

// Font colors
$main-color: #1a1a1a;
$second-color: #f2f2f2;
$link-color: #3F69AA;
$link-hover-shadow-color: #0074D9;  

// Font sizes (16px bootstrap)
$big-font: 3rem;
$medium-font: 2rem;